---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">
  <main class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-12 gap-4 mb-8">
      <div class="col-span-12 md:col-span-4">
<div class="text-base text-left text-gray-800 prose max-w-none"><h1 class="font-bold text-gray-900 mb-2 text-4xl">fafafaf</h1>
<br/>
<p class="mb-2">fafsf</p>
</div>
      </div>
      <div class="col-span-12 md:col-span-2">
<div class="text-base text-left text-gray-800 prose max-w-none"><p class="mb-2">New Colこｋふぁumn</p>
</div>
      </div>
      <div class="col-span-12 md:col-span-4">
<div class="text-base text-left text-gray-800 prose max-w-none"><p class="mb-2">New ｆｋじゃｌｆｊｄｓｋｆｊｓ</p>
</div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-8">
      <div class="col-span-12 md:col-span-12">
<div class="text-base text-left text-gray-800 prose max-w-none"><p class="mb-2">Start typing here...fsfs</p>
<p class="mb-2">だｄ</p>
<p class="mb-2">ｄ</p>
<br/>
<br/>
<br/>
</div>
      </div>
    </div>
  </main>
</Layout>
