---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">
  <main class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-12 gap-4 mb-8">
      <div class="col-span-12 md:col-span-6">
<div class="text-[30px] text-left   text-gray-800 markdown-content prose max-w-none">## Hello World<br/>This is a new tefa<br/><br/>falkjlkj<br/><br/># fakjlkfj</div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mb-8">
      <div class="col-span-12 md:col-span-12">
<div class="text-base text-left   text-gray-800 markdown-content prose max-w-none">## Hello World<br/>This is a new text block.</div>
      </div>
    </div>
  </main>
</Layout>
