---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">
  <div class="grid grid-cols-12 gap-4 mb-8">
    <div class="col-span-12 md:col-span-12">
<div class="text-base text-left text-gray-800 prose max-w-none"><h1 class="font-bold text-gray-900 mb-2 text-4xl">Start typing here...</h1>
<p class="mb-2">- ファ私は</p>
<div class="list-item list-decimal ml-6">私はこれでいいと思っている。</div>
<div class="list-item list-decimal ml-6">私はこれでいいと思っていない。</div>
<br/>
</div>
    </div>
  </div>
</Layout>
